<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1 align="center">Register</h1>
<form class="form-group" action="{% url 'login:register_user' %}" method="post">
    {% csrf_token %}
    <div align="center">
        <div>username : <input type="text"></div>
        <div>password : <input type="password"></div>
        <div>email : <input type="text"></div>
        <button>Register</button>
    </div>
</form>
<a href=""><button>Go back</button></a>
</body>
</html>